<h1>Listing prototypes</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prototypes.each do |prototype| %>
  <tr>
    <td><%= link_to 'Show', prototype %></td>
    <td><%= link_to 'Edit', edit_prototype_path(prototype) %></td>
    <td><%= link_to 'Destroy', prototype, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prototype', new_prototype_path %>
