<p id="notice"><%= notice %></p>

<p>
  <b>Weight:</b>
  <%= @ingredient_grain.weight %>
</p>


<%= link_to 'Edit', edit_ingredient_grain_path(@ingredient_grain) %> |
<%= link_to 'Back', ingredient_grains_path %>
